:root {
  font-size: calc(1ex + 1vw + 1vh);
}


body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  height: 100%;
  background-color: fefefe;
  color: orangered;
}

.home {
  text-decoration-line: underline;
  text-decoration-style:dotted ;
}

.logo {
  margin: 0;
  text-transform: uppercase;
  text-align: center;

}

header {
  display: flex;
  justify-content: center;
  color: orangered;
  
}


.intro {
display: flex;
  flex-direction: column;

  font-size: 1em;
  padding: 3em;
}

.cover {
  background-image: url(/images/1.jpeg);
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(100%);
  color: whitesmoke;
  background-position: center center;
}

article {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(800px, 1fr));
  grid-template-rows: auto;
  text-align: justify;
text-justify: distribute;
text-align-last: left;
font-weight: 900;
word-spacing: -6px;
font-family: 'Courier New', Courier, monospace;
}

.img {
  max-width: 100%;
  height: auto;
}
p {
  display: block;
  margin: 23px;

}

img {
  max-width: 100%;
  height: auto;
  filter: grayscale(100%);
}

.box {
background-size: cover;
background-position: center center;
min-height: 40vh;
display: block;

}


.two {
    background-image: url(/images/4.jpeg);
    color: orangered;


}

.one {
  color: orangered;
}



.three {
  color: orangered;

}

.four {
  background-image: url(/images/3.jpeg);
    color: blue;
  
}

.five {

  color: blue;
}

.six {
  color: blue;
  background-image: url(/images/8.jpeg);
}

address {
  margin: 0;
}


footer {
  color: red;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  text-align: center;
  margin-top: 9rem;
  min-height: 90vh;
}

a {
  color: orangered;
  text-decoration: underline dotted;
}
.info > p {
  margin: 0;

}




button {
  background-color: orangered; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: black; 
}

button > a {
  color: aliceblue;
  font-size: 3em;
  text-decoration: none;
}

@media screen and (max-width: 600px) {


  article {
    display: flex;
    flex-direction: column;
  }
}




